@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
body
{
    font-family: "Alef Hebrew", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 50%;
}

.container
{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
   
}
#p1
{
     border: 2px solid brown;
}
#p3
{
     font-size:20px;
     border: 2px solid red;
     display: flex;
     align-items: center;
}


input,gobtn
{
     margin-bottom: 12px;
     margin-left: 40%;
     align-items: center;
     padding-right: 32px;
}
input
{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
    display: inline;
    padding: 7px;
}
th,td,a
{ 
    padding: 5px;
    color: #002a80;
}

a
{
    padding: 13px;
    text-decoration: none;
    outline: none;
    font-weight: 600;
}

.cal
{
    flex: auto;
    text-align: center;
}

p
{
   display:flexbox;
   margin-right: auto;
   border: 2px solid blue;
   padding: 5px;
}
#pr_y
{
    padding:16px;
    color:orange;
}
#ne_y
{
    padding:22px;
    color:black;
}
#pr_m
{
    margin-left:auto;
    color:green;

}
#ne_m
{
    color:red;
    margin-right: auto ;
}
